<p>For report with ID{{report.id}}</p>

<form action="/all_reports/{{report._id}}" method="post">

    {{!-- <input type="text" name="Openness" value="{{report.personality.0.name}}"> --}}
    <input type="text" name="percentile" placeholder="{{report.personality.0.name}} percentile score"
        value="{{report.personality.0.percentile}}">
    <button type="submit">Submit</button>
</form>