<h1>{{title}}</h1>
<p>Welcome to {{title}} / project watson</p>

<form action="/" method="post">
  <textarea name="submittedText" id="submitTextField" placeholder="Your text here ...">
  </textarea>
  <button type="submit">Submit</button>

  <h1>Welcome {{#if user}} {{user.email}} {{else}} Stranger {{/if}} !</h1>

  {{#if textSummary}}
  <p>{{textSummary}}</p>
  {{/if}}

  {{#if user}}
  <a href="/auth/logout">Log out</a>
  <a href="/all_reports">Click here for all reports in database</a>
  {{else}}
  <a href="/auth/login">Log in</a>
  <br>
  <a href="/auth/signup">Sign up</a>
  <br>
  <a href="/auth/linkedin"> Click here to log in with LinkedIn</a>
  {{/if}}
</form>