<h4>{{errorMessage}}</h4>

<!-- Jumbotron -->
<div class="gloveImage" style="background:url(images/gloves.jpg) no-repeat; background-size: cover;">
  <div class="text-success text-center my-5">
    <h1 class="display-4">Recruitment and Job Applications that Work like a Charm</h1>
  </div>
  <!-- Container -->
  <div class="container">
    <!-- Quote Section -->
    <div class="row">
      <div class="col">
        {{!-- <h2>EvilTech Recruitment: Find the Perfect Fit for Your Vacancies, Find where You Fit Perfectly, Or <br>
          Become The Perfect Fit</h2> --}}
        <h2>EvilTech is a matching service for Applicants and Recruiters based on personality traits</h2>
      </div>
    </div>
    <hr>
  </div>




  <!--form -->
  <div class="inputContainer">
    <form action="/" method="post">
      <div class="">
        <textarea name="submittedText" id="submitTextField" class="" aria-label="Search"
          placeholder="Your text here...">{{input}}</textarea>
      </div>
      <button class="btn btn-outline-success inputButton" type="submit">Submit</button>
    </form>
  </div>

  <br>
  <br>
</div>










<h1>Welcome {{#if user}} {{user.email}} {{else}} Stranger {{/if}} !</h1>

{{#if textSummary}}
<p>{{textSummary}}</p>
{{/if}}


<!-- Bootstrap's JavaScript Files -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>